.header {
    display: flex;

justify-content: space-between;
}
.nav_list {
    display: flex;
    list-style-type: none;
}
.nav_item {
   padding-left:25px; 
   padding-right:25px;
   margin-right:10px;

}
.image {
    display: block;
    margin-left:774px;
    }
    
